﻿<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kişisel Web Blog</title>



    @Styles.Render("~/Content/css")
    
    
    
    <link rel="shortcut icon" href="~/Content/images/favicon.png" type="image/png">
</head>
<body id="page-top">
    <div id="loader"></div>
    <div id="section-home">
        <header id="header">
            <!-- NAVIGATION STARTS
            ========================================================================= -->
            <nav id="navigation">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <!--  Logo Starts -->
                        <a class="navbar-brand" href="../Home/Index"><img src="~/Content/images/logo.png" alt=""></a>
                        <!-- Logo Ends -->
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="../Home/Index"><span class="fa fa-home"></span></a></li>

                            <ul class="nav navbar-nav nav_top_rt">
                                <li>@Html.ActionLink("HAKKINDA", "Hakkinda")</li>
                                <li>@Html.ActionLink("İLETİŞİM","Iletisim")</li>
                                <li>@Html.ActionLink("GİRİŞ", "Giris")</li>
                                <li>@Html.ActionLink("KAYIT OL", "Kayitol")</li>
                                <li class="search" id="dmsearch">
                                    <a href="#" class="fa fa-search"></a>
                                    <form id="searchform" action="#" method="get">
                                        <div class="dm-search-container">
                                            <input id="s" class="dmsearch-input" type="text" name="s" value="" placeholder="Sitede Ara">
                                        </div>
                                        <input id="go" class="dmsearch-submit" type="submit" value="">
                                        <span class="searchicon"></span>
                                    </form>
                                    <!-- end searchform -->
                                </li>
                            </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <div class="navspacer"></div>
            </nav>
            <!-- /. NAVIGATION ENDS
            ========================================================================= -->
        </header>
        <!-- BANNER STARTS
          ========================================================================= -->
        <aside class="col-xs-12 subbanner">
            <h1>KİŞİSEL WEB BLOG</h1>
            <p>Web Konusunda Öğrendiklerim ve Kişisel Tecrübelerim</p>
        </aside>
        <div class="clearfix"></div>
        <!-- /. BANNER ENDS
          ========================================================================= -->
        <!--section-home-->
    </div>



    <!-- BLOG STARTS
    ========================================================================= -->
    <div class="padding-box">
        <div class="container">
            <div class="row header">



                @RenderBody()




                <div id="sidebar" class="col-sm-3 col-xs-12 pull-right">
                    <div class="search-bar">
                        <form method="get">
                            <fieldset>
                                <input type="text" value="Sitede Ara..." class="search_text showtextback">
                                <button type="submit" aria-expanded="false" class="pull-right"></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="widget">
                        <h4 class="title"> <span>Kategoriler</span> </h4>
                        <ul class="categories">
                            <li><a href="#">ASP.Net</a><span>10</span></li>
                            <li><a href="#">PHP</a><span>07</span></li>
                        </ul>
                    </div>
                    
                        <!-- tabbable -->
                    </div>
                    <!-- end widget -->

                </div>
                <!-- end sidebar -->
                <!--row-->
            </div>
            <!--container-->
        </div>
    </div>
    <hr>
    <!-- BLOG END
    ========================================================================= -->
    <!-- SOCIAL SECTION STARTS
    ========================================================================= -->
    <div class="padding-box blue-color">
        <div class="container">
            <div class="row header">
                <article class="col-xs-12 social-icons text-center">
                    <h2 class="white">Siz de Sosyal ağlarda bizi paylaşın!</h2>
                    <ul class="list-inline">
                        <li><a href="#"><span class="fa fa-facebook"></span>facebook</a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span>Twitter</a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span>Google+</a></li>
                    </ul>
                    <!--textbox-->
                </article>
                <!--row-->
            </div>
            <!--container-->
        </div>
    </div>
    <div class="padding-box black2-color">
        <div class="container">
            <div class="row header">
                <aside class="col-sm-4 col-xs-12 small_box"><span class="fa fa-envelope"></span><a href="mailto:webproj@outlook.com">Mail: webproj@outlook.com</a></aside>
                <aside class="col-sm-5 col-xs-12 small_box"><span class="fa fa-home"></span>Adres: Sakarya Üniversitesi</aside>
                <!--row-->
            </div>
            <!--container-->
        </div>
    </div>
    <!-- SOCIAL SECTION END
    ========================================================================= -->
    <!-- FOOTER STARTS
    ========================================================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row header">
                <aside class="col-sm-6 col-xs-12">
                    <div class=" col-sm-6 col-xs-12 sitemap">
                        <h5 class="white">İletişim</h5>
                        <ul class="list-group">
                            <li><a href="Iletisim">İletişime Geçin</a></li>
                        </ul>
                        <h5 class="white">Yasal Hakları</h5>
                        <ul class="list-group">
                            <li><a>Her türlü telif hakkı şahsımıza aittir.</a></li>
                        </ul>
                    </div>
                    <div class=" col-sm-6 col-xs-12 sitemap">
                        <h5 class="white">Hedefimiz</h5>
                        <p>
                            Öğrendiklerimizi web konusunda meraklı olanlarla paylaşarak, 
                            bilgimizi genişleterek birlikte daha ürünler ortaya çıkarmaktır.<br />
                            
                        </p>
                    </div>
                </aside>
                <aside class="col-sm-5 contact-form col-xs-12 pull-right">
                    <div id="message"></div>
                    <form id="contact" action="contact.php" name="contactform" method="post">
                        <ul class="list-group">
                            <li class="fname">
                                <input name="name" id="name" type="text" placeholder="İsim:">
                            </li>
                            <li class="lname">
                                <input name="email" id="email" type="text" placeholder="E-mail:">
                            </li>
                            
                            <li>
                                <textarea name="comments" id="comments" cols="5" rows="5" placeholder="Mesajınız:"></textarea>
                            </li>
                        </ul>
                        <button type="submit" id="submit" class="btn btn-primary pull-right">Gönder</button>
                    </form>
                    <p>
                        Mesajlarınıza mümkün olduğunca kısa sürede cevaplayacağız. Teşekkürler.
                    </p>
                </aside>
                <div class="col-xs-12 copyright-text">
                    Copyright © 2014 - All right reserved.<br />
                </div>
                <!--row-->
            </div>
            <a class="dmtop" href="#page-top"></a>
            <!--container-->
        </div>
    </footer>
    <!-- FOOTER END
    ========================================================================= -->
    <!-- JS kodlari -->
    @Scripts.Render("~/Javascripts")

</body>
</html>