﻿@model WebBlog.Models.Kullanici

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciSifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciSifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyelikDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyelikDurumu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
