﻿@model WebBlog.Models.Kullanici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciSifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciSifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyelikDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyelikDurumu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KullaniciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
