﻿@model WebBlog.Models.Yazi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Yazi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YaziBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YaziBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YaziIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YaziIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YayinciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayinciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YayinTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayinTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YaziID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
