﻿@model IEnumerable<WebBlog.Models.Yazi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pull-left col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">


    <article class="blog-wrap">
        <div class="blog-media">
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active"> <img src="~/Content/images/post-image/mbg1.jpg" alt=""> </div>
                    <div class="item"> <img src="~/Content/images/post-image/mbg2.jpg" alt=""> </div>
                    <div class="item"> <img src="~/Content/images/post-image/mbg3.jpg" alt=""> </div>
                </div>
                <!-- carousel inner -->
            </div>
            <!-- end carousel -->
        </div>
    </article>

@foreach (var item in Model)
{
    @Html.ActionLink("Create New", "Create")
    <!-- YAZI BASLAR -->
    <article class="blog-wrap">
        <header class="page-header blog-title">
            <div class="author-wrap"> <span class="inside"> <a href="#"><img class="img-responsive" alt="" src="~/Content/images/post-image/02_team.png"></a> </span> </div>
            <h4>@Html.DisplayFor(modelItem => item.YayinciAdi)</h4>
            <div class="post-meta">
                <ul class="list-inline">
                    <li><span class="fa fa-user"></span><a href="#">@Html.DisplayFor(modelItem => item.YayinciAdi) /</a></li>
                    <li><span class="fa fa-calendar"></span><a href="#">@Html.DisplayFor(modelItem => item.YayinTarihi) /</a></li>
                </ul>
            </div>
        </header>
        <div class="post-desc">
            <h3>@Html.DisplayFor(modelItem => item.YaziBaslik)</h3>
            <p>@Html.DisplayFor(modelItem => item.YaziIcerik) </p>

            @Html.ActionLink("Edit", "Edit", new { id = item.YaziID }) |
            @Html.ActionLink("Details", "Details", new { id = item.YaziID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.YaziID })
        </div>
    </article>
    <!-- YAZI BITER -->
}


    <div class="clearfix"></div>
    <hr>
</div>
<!-- end -->
